.contact-info {
  border-style: groove;
  border-width: 12px;
  border-color: blueviolet;
}

.label-huh {
  color: brown;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 78px;
  font-weight: 900;
}
